@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'VT323', monospace;
	color: rgb(255, 255, 255);
}

body {
	background-color: #1e1e1e;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.center-page
{
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}

/* keyframes */
@keyframes floating {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

