@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-light text-2xl w-full dark:bg-gray-900 dark:text-gray-400 transition-all;
	background-color: rgba(238, 238, 238, 1);
	font-family: 'Segoe UI';
}

h1,
h2,
h3 {
	line-height: 1.2;
}

button {
	transition: background-color 0.3s;
	background-color: rgba(20, 33, 44, 1);
	color: rgba(191, 194, 199, 1);
	fill: #bfc2c7;
}

.content {
	@apply p-20;
}

.cards img {
	height: fit-content;
	position: relative;
}
