@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
	max-width: 650px;
	line-height: 1.6;
	font-size: 20px;
	color: #444;
	padding: 0 10px;
	font-family: 'Open sans', sans-serif;
	font-weight: 300;
	background-color: #eeeeee;
	transition: background-color 0.3s;
	margin: 0;
	padding: 0;
	transition: 1s;
}

// remove scrollbar
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

body.dark-mode {
	background-color: #14212c;
	color: #bfc2c7;
}
button {
	background-color: #14212c;
	color: #bfc2c7;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s;
	fill: #bfc2c7;
	position: absolute;
	top: 10px;
	right: 10px;
}

body.dark-mode button {
	background-color: #eeeeee;
	color: #444;
	fill: #444;
}

/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: rgb(78, 78, 78);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow: auto;
	float: left;
	transition: background-color 0.3s;
}

.sidebar a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
	transition: 0.15s;
	text-indent: 5px;
	&::before {
		content: '»  ';
	}
}

.sidebar a:hover:not(.active) {
	background-color: rgba(0, 0, 0, 0.425);
	color: white;
	text-indent: 10px;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

body.dark-mode .sidebar {
	box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.1);
	background-color: #152c3d;
}

.sidebar-header {
	padding: 20px;
}

.sidebar-content {
	p {
		margin: 0;
	}

	img {
		width: 100%;
	}
}

.content {
	float: left;
	position: absolute;
	top: 0;
	left: 20%;
	padding: 0px 16px;
}

@media screen and (max-width: 700px) {
	.content {
		width: 100%;
		height: auto;
		position: static;
	}
}
